@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #333030;
    box-sizing: border-box;
}

.react-flow__attribution {
      display: none; /* Oculta el default */
    }

.custom-attribution {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: gray;
    }

.react-flow__controls-button {
    background: none !important;
}

.fade-out {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

/* src/index.css o src/App.css */

@keyframes ticker {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%); /* Desplaza la mitad del contenido (una repetición) */
    }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}